$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$main-bg   : #f8f8f8;
$brand     : #E1B17C;
$brand-light : #e1b17c29;
$light-blue  : #C8D4DF;
$dark-gray : #1111117a;